# General
.DS_Store
.AppleDouble
.LSOverride

# Editors
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
input_video.mp4

# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Project Specific
backend/saved_notebooks/*.json
!backend/saved_notebooks/.keep
